<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css"/>
    <title>Instaposts</title>
</head>
<body>
    <h1><%= title %></h1>

    <% posts.forEach(post => { %>
        <a href="<%= post.id %> ">
            <div class="post">
                <section class="post__header">
                    <img src="<%= post.user.avatar %> " alt="avatar"/>
                    <span><%= post.user.username %> </span>
                </section>
                <section class="post__image">
                    <img src="<%= post.image %> " alt="post"/>
                </section>
                <section class="post__content">
                    <p>
                        <%= post.content %> 
                    </p>
                </section>
                <section class="post_interactions"></section>
            </div>
        </a>
    <% }) %>
</body>
</html>